.map{
    
    width:100%;
    height:70vw;
    visibility: visible;
}

.route_show_container{
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: baseline;
}

.sidebar{
    width:15%;
}

.map-container{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
}

.stats-footer{
    z-index:5;
    list-style: none;
    width:100%;
    overflow:hidden;
    margin:0;
    height:10%;
    bottom:0;
    left:0;
    position:fixed;
    background:rgb(255,255,255);
    border:1px solid lightgrey;
    box-shadow:1px -1px 9px -1px;
}

