.modal{
    position:fixed;
    z-index: 1;
    background-color: black;
    background-color: rgba(0,0,0,0.6);
}

.signup_modal{
    width:80%;
}

.modal_title{
    background-color: black;
    background-color: rgba(0,0,0,0.6);
    height:100%;
    color:white;
    
}

.session-submit{
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size:14px;
    background-color: rgb(255, 84, 27);
    border:none;
    width:100%;
    margin:10px;
}

.login-input{
    width:97%;
    margin: 10px;
}
