.app{
    display:flex;
    justify-content: space-between;
    margin:0 auto;
}
.nav-bar{
    width:90%;
    height:40px;
}
.innerbar{
    margin:0;
    padding:0;
    display:flex;
    position:fixed;
    justify-content: space-around;
    width: 90%; 
    height:5%;
}

.nav_title{
    font-family: Arial, Helvetica, sans-serif;
}

.btn{
    align-self:flex-end;
}

.navbutton{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size:14px;
    right:20px;
    background-color: white;
    padding:10px;
    padding-top: 7px;
    padding-bottom:7px;
    padding-left:15px;
    padding-right:15px;
    margin-right:5px;
    align-self: center;
    text-decoration: none;
    border-radius:5px;
    border: 1px solid lightgrey;
}

.navbutton-signup{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size:14px;
    color:white;
    right:20px;
    background-color:rgb(255, 84, 27);
    padding:10px;
    padding-top: 7px;
    padding-bottom:7px;
    padding-left:15px;
    padding-right:15px;
    align-self: center;
    text-decoration: none;
    border-radius:5px;
    border:1px solid rgb(255, 84, 27);
}
    

.logo{
   display: block;
   max-width: 100%;
   height: 40px;
   padding-bottom: 10px;
   margin-right: 900px;
}

.navbutton:hover{
    background:rgb(241, 241, 241);
    cursor:pointer;
}

.navbutton-signup:hover{
    background: rgb(215, 68, 20);
    cursor: pointer;
}

.navbar-dropdown:hover{
    border-top:1px solid lightgrey;
    border-right:1px solid lightgrey;
    border-left:1px solid lightgrey;
    z-index:2;
    border-bottom: 5px solid white;
}

.navbar-dropdown:hover .navbar-content{
    display:block;
    top:41px;
    border-top: 1px solid lightgrey;
    border-right:1px solid lightgrey;
    border-left:1px solid lightgrey;
    border-bottom:1px solid lightgrey;
}

.navbar-dropdown{
    background:white;
}

.navbar-content{
    display:none;
    position:absolute;
    z-index:2;
    background: white;
    
}

.add-dropdown-button{
    color:rgb(255, 84, 27);
    font-size:20px;
    background:white;
    border:1px solid rgb(255, 84, 27);
    border-radius:15px;
    margin-bottom:5px;
    float:right;
    position:relative;
}

.add-dropdown-button:hover{
    color:white;
    background:rgb(255, 84, 27);
}

.add-content{
    top:10px;
    display:none;
    z-index:4;
  
}


.logout-create-dropdown:hover .add-content{
    display:block;
    position:relative;
    
}


.activity-dropdown{
    border:none;
    background:none;
}

.dashboard:hover{
    color:rgb(255, 84, 27);
}

.navbar-links{
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(43, 39, 39);
    padding-right:20px;
    margin-bottom:10px;
    font-size:15px;
}

.navbar-links:hover{
    background:rgb(235, 232, 232);
}

.add-button{
    text-decoration:none;
    border:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size:13px;
    background:white;
    z-index:2;
    padding:2px;
    width:100%;
}

.add-button:hover{
    background:rgb(241, 238, 238);
}

.logout-create-dropdown:hover .add-dropdown-button{
    color:white;
    background:rgb(255, 84, 27);
}

.logout-create-dropdown:hover .add-button{
    border-right:1px solid rgb(224, 218, 218);
    border-left:1px solid rgb(224, 218, 218);
    
}

.logout-create-dropdown:hover :last-child{
    border-bottom:1px solid rgb(224, 218, 218);
}

.logout-create-dropdown:hover :first-child{
    border-top:1px solid rgb(224, 218, 218);
}

.add-button:hover .droplink{
    background:rgb(241, 238, 238);
}

.add-button:hover .add-conent{
    border-bottom:1px solid rgb(224, 218, 218);
}







.droplink{
    text-decoration: none;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:13px;
    background:white;
    z-index:2;
    padding:2px;
    width:100%;
}

.navbar-linkname{
    text-decoration: none;
    color:black;
}