.create-title{
    font-size:34px;
    font-weight:bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.metrics-input{
    list-style:none;
    margin:0;
    padding:0;
    width:100%;
    border-bottom:1px solid lightgrey;
}

.metrics-li{
    float:left;
    width:30%;
    padding: 10px;


}

.top-container{
    width:100%;
    border-bottom:1px solid lightgrey;
    margin-bottom:10px;
    padding:10px;
}

.sports-choice{
    width:100%;
    border-bottom:1px solid lightgrey;
}

.all-inputs{
    display:flex;
    flex-direction:column;
}
.number-inputs{
    border-top:1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding:8px;
    width: 25%;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.distance-input{
    border:1px solid lightgrey;
    width:25%;
    padding:8.5px;

}

.duration-container{
    display:flex;
    flex-direction: row;
    align-items: center;

}

.time-inputs{
    max-width: 15%;
    align-self: center;
}

.workout-submit{
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size:14px;
    background-color:rgb(255, 84, 27);
    border:none;
    margin-left:25px;
    margin-top:20px;
    margin-right:15px;
    padding-top:10px;
    margin-bottom:10px;
    padding-bottom:10px;
    padding-right: 30px;
    padding-left:30px;
    font-weight: bolder;
    border-radius: 5px;
    height:45%;
}

.time-submit{
    padding:8.5px 25px; 
    border:1px solid lightgrey;
}

.workout-descriptors{
    margin-bottom: 5px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}